* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #F5EEEE;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: fixed;
  top: 0;
  z-index: 1;
}
@media screen and (max-width: 620px) {
  .navbar {
    flex-wrap: wrap;
  }
}
.navbar .nav-right {
  display: flex;
}
@media screen and (max-width: 620px) {
  .navbar .nav-right {
    width: 100%;
    justify-content: center;
  }
}
.navbar .nav-right h2 {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
}
.navbar .nav-right img {
  width: 80px;
  height: 55px;
}
@media screen and (max-width: 800px) {
  .navbar .nav-center {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.navbar .nav-center ul {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 800px) {
  .navbar .nav-center ul {
    gap: 20px;
  }
}
.navbar .nav-center ul li a {
  color: black;
  font-weight: bold;
}
.navbar .nav-center ul li a:hover {
  border-bottom: 3px solid orange;
}
.navbar .nav-left {
  display: flex;
}
.navbar .nav-left a {
  background-color: orange;
  padding: 7px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
}

footer .social-media img {
  width: 40px;
  border-radius: 5px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .footer-top {
    gap: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-top {
    gap: 30px;
  }
}
@media screen and (max-width: 620px) {
  .footer-top .name-pnc {
    display: none;
  }
}
.footer-top .name-pnc p {
  font-size: 20px;
}

.footer-logo {
  display: flex;
}
@media screen and (max-width: 620px) {
  .footer-logo {
    display: none;
  }
}

.footer-logo img {
  width: 60px;
  height: 40px;
}

.footer-logo h2 {
  margin-top: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}

.footer-chef,
.footer-service,
.footer-schedule,
.footer-pages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-chef h3,
.footer-service h3,
.footer-schedule h3,
.footer-pages h3 {
  font-size: 25px;
  text-decoration: underline;
}
@media screen and (max-width: 1200px) {
  .footer-chef h3,
  .footer-service h3,
  .footer-schedule h3,
  .footer-pages h3 {
    font-size: 15px;
  }
}

.footer-top ul li {
  font-size: 18px;
  line-height: 1.5;
  list-style: disc;
}
@media screen and (max-width: 1200px) {
  .footer-top ul li {
    font-size: 12px;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px;
  border-top: 1px solid #f3f1f1;
}

.footer-icon {
  display: flex;
  gap: 10px;
}

.footer-icon i {
  font-size: 30px;
  border-radius: 23px;
  color: white;
}

.footer-p p {
  font-size: 12px;
}

.address {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 20px;
}
.address i {
  font-size: 35px;
}
@media screen and (max-width: 1200px) {
  .address {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .address br {
    display: none;
  }
}

.active {
  border-bottom: 3px solid orange;
}

p {
  line-height: 1.5;
}

.group-card {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  gap: 15px;
}
@media screen and (max-width: 1200px) {
  .group-card {
    padding: 30px;
  }
}
@media screen and (max-width: 800px) {
  .group-card {
    padding: 25px;
  }
}
@media screen and (max-width: 620px) {
  .group-card {
    flex-wrap: wrap;
  }
}
.group-card .card {
  width: 22%;
  height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .group-card .card {
    width: 25%;
    height: 380px;
  }
}
@media screen and (max-width: 800px) {
  .group-card .card {
    width: 25%;
    height: 300px;
  }
}
@media screen and (max-width: 620px) {
  .group-card .card {
    width: 40%;
    height: 280px;
  }
}
.group-card .card img {
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 1200px) {
  .group-card .card img {
    height: 140px;
  }
}
@media screen and (max-width: 800px) {
  .group-card .card img {
    height: 130px;
  }
}
@media screen and (max-width: 620px) {
  .group-card .card img {
    height: 130px;
  }
}
.group-card .card p {
  padding: 20px;
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  .group-card .card p {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .group-card .card p {
    font-size: 15px;
    padding: 10px;
  }
}
@media screen and (max-width: 620px) {
  .group-card .card p {
    font-size: 14px;
  }
}
.group-card .card .icon {
  margin-left: 20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  .group-card .card .icon {
    margin-left: 10px;
    margin-bottom: 5px;
  }
}
.group-card .card .icon i {
  color: orange;
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  .group-card .card .icon i {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .group-card .card .icon i {
    font-size: 10px;
    margin-bottom: 20px;
  }
}

header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/background/pnc.jpg);
  height: 100%;
  padding: 50px;
}
@media screen and (max-width: 620px) {
  header {
    height: 80%;
  }
}
header .bg-img {
  background-color: rgba(0, 0, 0, 0.392);
  height: 44%;
  width: 55%;
  padding: 20px;
  margin-top: 170px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media screen and (max-width: 1200px) {
  header .bg-img {
    width: 50%;
    height: 45%;
  }
}
@media screen and (max-width: 800px) {
  header .bg-img {
    width: 70%;
    height: 40%;
    margin-top: 160px;
    margin-left: -20px;
    padding: 10px;
  }
}
@media screen and (max-width: 620px) {
  header .bg-img {
    width: 70%;
    height: 40%;
    margin-left: -30px;
    margin-top: 130px;
  }
}
header .bg-img .bg-text h1 {
  color: orange;
  font-size: 50px;
}
@media screen and (max-width: 1200px) {
  header .bg-img .bg-text h1 {
    font-size: 40px;
    margin-top: -8px;
  }
}
@media screen and (max-width: 800px) {
  header .bg-img .bg-text h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 620px) {
  header .bg-img .bg-text h1 {
    font-size: 25px;
    padding: -15px;
  }
}
header .bg-img .bg-text p {
  margin-top: 10px;
  line-height: 1.5;
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  header .bg-img .bg-text p {
    font-size: 16px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 800px) {
  header .bg-img .bg-text p {
    font-size: 15px;
  }
}
@media screen and (max-width: 620px) {
  header .bg-img .bg-text p {
    font-size: 12px;
    padding: -15px;
    margin-top: 5px;
  }
}

#title-menu {
  margin-top: 40px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #title-menu {
    margin-top: 20px;
  }
}
@media screen and (max-width: 620px) {
  #title-menu {
    margin-top: 10px;
  }
}
#title-menu h1:nth-child(1) {
  font-family: serif;
  font-size: 40px;
}
@media screen and (max-width: 800px) {
  #title-menu h1:nth-child(1) {
    font-size: 25px;
  }
}
@media screen and (max-width: 620px) {
  #title-menu h1:nth-child(1) {
    font-size: 20px;
  }
}
#title-menu h1:nth-child(2) {
  color: orange;
  font-size: 45px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
@media screen and (max-width: 800px) {
  #title-menu h1:nth-child(2) {
    font-size: 35px;
  }
}
@media screen and (max-width: 620px) {
  #title-menu h1:nth-child(2) {
    font-size: 25px;
  }
}

.sub-tittle {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 15%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  border-radius: 0 20px 20px 0;
  background-color: black;
  color: white;
}
@media screen and (max-width: 800px) {
  .sub-tittle {
    width: 18%;
    padding: 5px;
  }
}
@media screen and (max-width: 800px) {
  .sub-tittle h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 620px) {
  .sub-tittle h3 {
    font-size: 14px;
  }
}

.title-schedule {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
  margin-top: 70px;
}
@media screen and (max-width: 1200px) {
  .title-schedule {
    margin-top: 80px;
  }
}
@media screen and (max-width: 800px) {
  .title-schedule {
    margin-top: 50px;
  }
}
@media screen and (max-width: 620px) {
  .title-schedule {
    margin-top: 50px;
    gap: 10px;
  }
}
.title-schedule h1:nth-child(1) {
  font-size: 40px;
}
@media screen and (max-width: 800px) {
  .title-schedule h1:nth-child(1) {
    font-size: 30px;
  }
}
@media screen and (max-width: 620px) {
  .title-schedule h1:nth-child(1) {
    font-size: 25px;
  }
}
.title-schedule h1:nth-child(2) {
  font-size: 40px;
  color: orange;
}
@media screen and (max-width: 800px) {
  .title-schedule h1:nth-child(2) {
    font-size: 30px;
  }
}
@media screen and (max-width: 620px) {
  .title-schedule h1:nth-child(2) {
    font-size: 25px;
  }
}

.table-schedul {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
@media screen and (max-width: 1200px) {
  .table-schedul {
    padding: 25px;
  }
}
@media screen and (max-width: 620px) {
  .table-schedul {
    margin-top: -10px;
  }
}
.table-schedul table {
  width: 60%;
  border-collapse: collapse;
}
@media screen and (max-width: 620px) {
  .table-schedul table {
    width: 70%;
  }
}

td {
  border: 1px solid;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  td {
    font-size: 15px;
  }
}
@media screen and (max-width: 620px) {
  td {
    font-size: 12px;
  }
}

tbody tr:nth-child(1) td:nth-child(1) {
  background-color: black;
  color: white;
  text-align: center;
  line-height: 2;
}

tbody tr:nth-child(1) td:nth-child(2),
tbody tr:nth-child(2) td:nth-child(1),
tbody tr:nth-child(3) td:nth-child(1) {
  background-color: white;
}

.tittle-cheif {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 70px;
}
@media screen and (max-width: 1200px) {
  .tittle-cheif {
    margin-top: 70px;
  }
}
@media screen and (max-width: 800px) {
  .tittle-cheif {
    margin-top: 35px;
  }
}
@media screen and (max-width: 620px) {
  .tittle-cheif {
    margin-top: 40px;
    gap: 10px;
  }
}
.tittle-cheif h1:nth-child(1) {
  font-size: 40px;
}
@media screen and (max-width: 800px) {
  .tittle-cheif h1:nth-child(1) {
    font-size: 30px;
  }
}
@media screen and (max-width: 620px) {
  .tittle-cheif h1:nth-child(1) {
    font-size: 25px;
  }
}
.tittle-cheif h1:nth-child(2) {
  font-size: 40px;
  color: orange;
}
@media screen and (max-width: 800px) {
  .tittle-cheif h1:nth-child(2) {
    font-size: 30px;
  }
}
@media screen and (max-width: 620px) {
  .tittle-cheif h1:nth-child(2) {
    font-size: 25px;
  }
}

.group-cheif {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
@media screen and (max-width: 620px) {
  .group-cheif {
    flex-wrap: wrap;
    gap: 30px;
  }
}
.group-cheif .cheif {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .group-cheif .cheif {
    width: 20%;
  }
}
@media screen and (max-width: 620px) {
  .group-cheif .cheif {
    width: 40%;
  }
}
.group-cheif .cheif img {
  width: 170px;
  height: 170px;
  border: 5px solid #33A6EA;
  border-radius: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media screen and (max-width: 800px) {
  .group-cheif .cheif img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 620px) {
  .group-cheif .cheif img {
    width: 140px;
    height: 140px;
  }
}
.group-cheif .cheif .name-cheif {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.group-cheif .cheif .name-cheif h3 {
  padding-top: 15px;
  text-align: center;
  color: #33A6EA;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
}
@media screen and (max-width: 800px) {
  .group-cheif .cheif .name-cheif h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 620px) {
  .group-cheif .cheif .name-cheif h3 {
    font-size: 18px;
  }
}
.group-cheif .cheif .name-cheif p {
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  .group-cheif .cheif .name-cheif p {
    font-size: 14px;
  }
}
@media screen and (max-width: 620px) {
  .group-cheif .cheif .name-cheif p {
    font-size: 12px;
  }
}

.tittle-service {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 70px;
  font-family: sans-serif;
}
@media screen and (max-width: 800px) {
  .tittle-service h1:nth-child(1) {
    font-size: 30px;
  }
}
@media screen and (max-width: 620px) {
  .tittle-service h1:nth-child(1) {
    font-size: 25px;
  }
}
.tittle-service h1:nth-child(2) {
  color: orange;
}
@media screen and (max-width: 800px) {
  .tittle-service h1:nth-child(2) {
    font-size: 30px;
  }
}
@media screen and (max-width: 620px) {
  .tittle-service h1:nth-child(2) {
    font-size: 25px;
  }
}

.group-service {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-top: -10px;
}
@media screen and (max-width: 1200px) {
  .group-service {
    margin-top: -20px;
  }
}
@media screen and (max-width: 800px) {
  .group-service {
    margin-top: -20px;
  }
}
@media screen and (max-width: 620px) {
  .group-service {
    margin-top: -20px;
  }
}
.group-service .service {
  width: 25%;
  height: auto;
  border: 2px solid #33A6EA;
  background-color: white;
}
@media screen and (max-width: 800px) {
  .group-service .service {
    width: 30%;
  }
}
@media screen and (max-width: 620px) {
  .group-service .service {
    width: 29%;
  }
}
.group-service .service .service-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.group-service .service .service-img img {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}
@media screen and (max-width: 800px) {
  .group-service .service .service-img img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 620px) {
  .group-service .service .service-img img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
}
.group-service .service .text-service {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 620px) {
  .group-service .service .text-service {
    gap: 5px;
  }
}
.group-service .service .text-service h3 {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .group-service .service .text-service h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 620px) {
  .group-service .service .text-service h3 {
    font-size: 10px;
  }
}
.group-service .service .text-service p {
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 1200px) {
  .group-service .service .text-service p {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .group-service .service .text-service p {
    font-size: 14px;
  }
}
@media screen and (max-width: 620px) {
  .group-service .service .text-service p {
    font-size: 10px;
  }
}
.group-service .service .service-icon {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.group-service .service .service-icon .number {
  color: #33A6EA;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .group-service .service .service-icon .number {
    font-size: 13px;
  }
}
@media screen and (max-width: 620px) {
  .group-service .service .service-icon .number {
    font-size: 10px;
  }
}
@media screen and (max-width: 800px) {
  .group-service .service .service-icon .icon i {
    font-size: 12px;
  }
}
@media screen and (max-width: 620px) {
  .group-service .service .service-icon .icon i {
    font-size: 10px;
  }
}/*# sourceMappingURL=about-us.css.map */