* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #F5EEEE;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar .nav-right {
  display: flex;
}
.navbar .nav-right h2 {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
}
.navbar .nav-right img {
  width: 80px;
  height: 55px;
}
.navbar .nav-center ul {
  display: flex;
  gap: 50px;
}
.navbar .nav-center ul li a {
  color: black;
  font-weight: bold;
}
.navbar .nav-center ul li a hover {
  border-bottom: 3px solid orange;
}
.navbar .nav-left {
  display: flex;
}
.navbar .nav-left a {
  background-color: orange;
  padding: 7px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
}

footer .social-media img {
  width: 40px;
  border-radius: 5px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
}

.footer-logo img {
  width: 60px;
  height: 40px;
}

.footer-logo h2 {
  margin-top: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.footer-chef,
.footer-service,
.footer-schedule,
.footer-pages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-chef h3,
.footer-service h3,
.footer-schedule h3,
.footer-pages h3 {
  text-decoration: underline;
}

.footer-top ul li {
  font-size: 14px;
  line-height: 1.5;
  list-style: disc;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px;
  border-top: 1px solid #f3f1f1;
}

.footer-icon {
  display: flex;
  gap: 10px;
}

.footer-icon i {
  font-size: 30px;
  border-radius: 23px;
  color: white;
}

.footer-p p {
  font-size: 12px;
}

.address {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.address i {
  font-size: 30px;
}

.active {
  border-bottom: 3px solid orange;
}

p {
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 35px;
  margin-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
form .email-number,
form .student {
  display: flex;
  gap: 50px;
}
form .submit {
  margin-left: 380px;
}
form .submit a {
  background-color: orange;
  padding: 7px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
}

.input h3 {
  text-align: center;
  font-size: 30px;
}

textarea {
  width: 450px;
  border-radius: 3px;
  padding: 7px;
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.411);
}

input {
  width: 200px;
  border-radius: 3px;
  padding: 7px;
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.454);
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    height: 35%;
  }
  footer .footer-top {
    display: flex;
    gap: 30px;
  }
  footer .footer-top br {
    display: none;
  }
  footer .footer-top .footer-chef,
  footer .footer-top .footer-service,
  footer .footer-top .footer-schedule,
  footer .footer-top .footer-pages {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer .footer-top .footer-chef h3,
  footer .footer-top .footer-service h3,
  footer .footer-top .footer-schedule h3,
  footer .footer-top .footer-pages h3 {
    font-size: 15px;
  }
}
.main-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: end;
  margin-top: 5px;
  background-image: url(../images/background/canteen.jpg);
  width: 100%;
  height: 500px;
}

.bg-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 30%;
  margin: 80px;
  padding: 10px;
  margin-bottom: 150px;
  background-color: rgba(0, 0, 0, 0.466);
  color: white;
  border: 1px solid rgba(128, 128, 128, 0.411);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.bg-header h2 {
  font-family: serif;
  font-size: 35px;
}

.text-h1 {
  display: flex;
  gap: 15px;
  font-size: 30px;
}
.text-h1 h1 {
  color: #33A6EA;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.text-h1 h3 {
  margin-top: 10px;
  font-size: 40px;
  font-family: serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  width: 90%;
  margin-left: 4%;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #F5EEEE;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin-bottom: 110px;
}
.contact .contact-card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.contact .contact-card2 {
  display: flex;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(146, 96, 3);
  font-size: 25px;
  gap: 10px;
  background-color: rgba(128, 128, 128, 0.384);
  border-radius: 30px;
  height: 40px;
  width: 40px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  gap: 20px;
  padding: 30px;
  gap: 20px;
  padding: 30px;
  margin-top: 10px;
}

.the-text {
  color: blue;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  width: 45%;
  background-color: #33A6EA;
  text-align: center;
  color: white;
  padding: 7px;
  font-weight: bold;
}

.map {
  margin-top: 50px;
}/*# sourceMappingURL=contact-us.css.map */