* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  border: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #F5EEEE;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-right {
  display: flex;
}

.nav-right h2 {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.nav-right img {
  width: 80px;
  height: 55px;
}

.nav-center ul {
  display: flex;
  gap: 50px;
}

.nav-center ul li a {
  color: black;
  font-weight: bold;
}

.nav-center ul li a:hover {
  background-color: orange;
  color: white;
  padding: 8px;
  border-radius: 20px;
}

.nav-left button {
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  background-color: orange;
}

.nav-left button a {
  color: white;
  font-weight: bold;
}

footer {
  margin-top: 30px;
  gap: 20px;
  background-color: rgb(172, 166, 166);
  padding: 50px 30px 30px 30px;
}

footer .text-foot {
  text-align: center;
  line-height: 2;
}

footer .social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
}

footer .social-media img {
  width: 40px;
  background-color: rgb(235, 228, 228);
  border-radius: 5px;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.foot .right {
  display: flex;
  gap: 50px;
}

.main-header {
  display: flex;
  align-items: center;
  margin-top: 5px;
  background-image: url(/image/background/eat\ food.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  padding: 50px;
}

.main-header .bg-main {
  background-color: rgba(0, 0, 0, 0.329);
  width: 50%;
  padding: 20px;
  margin-top: 200px;
  color: white;
  margin-left: 30px;
  border: 1px solid rgba(128, 128, 128, 0.411);
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -2px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.main-header .bg-main h2 {
  font-family: serif;
  font-size: 40px;
}

.text-menu {
  display: flex;
  gap: 20px;
}

.text-menu h2 {
  margin-top: 15px;
}

.text-menu h1 {
  color: orange;
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.bg-header p {
  line-height: 1.5;
  margin-top: 15px;
}

.main-content {
  height: 50%;
  margin-top: 15px;
  display: flex;
  padding: 20px;
  padding-left: 100px;
}

.group-text {
  width: 100%;
}

.group-text p {
  font-size: 25px;
  margin-top: 20px;
}

.group-text h1 {
  font-size: 60px;
  color: orange;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.group-text .text {
  display: flex;
  gap: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-content h2 {
  font-family: serif;
  font-size: 50px;
}

.text h1 {
  font-size: 60px;
  color: black;
}

.main-content img {
  padding-right: 50px;
  width: 120%;
  height: 110%;
  rotate: 10deg;
}

.main-content .text-content button {
  margin-top: 20px;
  background-color: orange;
  padding: 7px;
  border-radius: 20px;
  width: 20%;
}

.main-content .text-content button a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.main-content .text-content button a:hover {
  text-decoration: underline;
}

.content-menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
  width: 100%;
}

.card-menu {
  background-color: rgba(0, 0, 0, 0.863);
  width: 18%;
  border-radius: 20px;

}

.group-img {
  display: flex;
}

.group-img img {
  width: 230px;
  margin-top: -90px;
  margin-left: -70px;
}

.card-menu .group-img:nth-child(3) {
  width: 200px;
}

.group-img button {
  width: 40%;
  height: 30px;
  border-radius: 20px 0 0 20px;
  margin-top: 20px;
  background-color: orange;
  color: white;
}

.group-card {
  color: white;
  padding-left: 30px;
  padding-bottom: 30px;
  width: 70%;
}

.group-icon {
  color: orange;
  padding-left: 30px;
  padding-bottom: 10px;
}

.bg-ingredients {
  margin-top: 40px;
  background-image: url(/image/background/ingre.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.bg-ingredients .bg-ingre {
  padding-top: 150px;
  padding-bottom: 200px;
}

.bg-ingredients .bg-ingre .title {
  color: white;
  background-color: rgba(0, 0, 0, 0.568);
  padding: 70px;
}

.bg-ingredients .title h1 {
  font-size: 60px;
  font-family: serif;
}

.group-eqiepment {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  padding-left: 70px;
}

.picture {
  display: flex;
  flex-direction: column;
}

.picture img {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  border: 1px solid rgb(7, 167, 189);
}

.group-eqiepment .text {
  margin-top: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*# sourceMappingURL=home.css.map */
