* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #F5EEEE;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar .nav-right {
  display: flex;
}
.navbar .nav-right h2 {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
}
.navbar .nav-right img {
  width: 80px;
  height: 55px;
}
.navbar .nav-center ul {
  display: flex;
  gap: 50px;
}
.navbar .nav-center ul li a {
  color: black;
  font-weight: bold;
}
.navbar .nav-center ul li a hover {
  border-bottom: 3px solid orange;
}
.navbar .nav-left {
  display: flex;
}
.navbar .nav-left a {
  background-color: orange;
  padding: 7px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
}

footer {
  height: 60%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
}

footer .social-media img {
  width: 40px;
  border-radius: 5px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
}

.footer-logo img {
  width: 60px;
  height: 40px;
}

.footer-logo h2 {
  margin-top: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.footer-chef,
.footer-service,
.footer-schedule,
.footer-pages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-chef h3,
.footer-service h3,
.footer-schedule h3,
.footer-pages h3 {
  text-decoration: underline;
}

.footer-top ul li {
  font-size: 14px;
  line-height: 1.5;
  list-style: disc;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px;
  border-top: 1px solid #f3f1f1;
}

.footer-icon {
  display: flex;
  gap: 10px;
}

.footer-icon i {
  font-size: 30px;
  border-radius: 23px;
  color: white;
}

.footer-p p {
  font-size: 12px;
}

.address {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.address i {
  font-size: 30px;
}

.active {
  border-bottom: 3px solid orange;
}

p {
  line-height: 1.5;
}

.main-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 5px;
  background-image: url(../images/background/eat_food.jpg);
  height: 600px;
  padding: 50px;
}
.main-header .bg-main {
  background-color: rgba(0, 0, 0, 0.329);
  width: 50%;
  padding: 20px;
  margin-top: 200px;
  color: white;
  margin-left: 30px;
  border: 1px solid rgba(128, 128, 128, 0.411);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.main-header .bg-main h2 {
  font-family: serif;
  font-size: 40px;
}
.main-header .bg-main .bg-header p {
  line-height: 1.5;
  margin-top: 15px;
}
.main-header .bg-main .bg-header .text-menu {
  display: flex;
  gap: 20px;
}
.main-header .bg-main .bg-header .text-menu h2 {
  margin-top: 15px;
}
.main-header .bg-main .bg-header .text-menu h1 {
  color: orange;
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.main-content {
  height: 50%;
  margin-top: 15px;
  display: flex;
  padding: 20px;
  padding-left: 100px;
}
.main-content img {
  padding-right: 50px;
  width: 110%;
  height: 120%;
  rotate: 10deg;
}
.main-content .text-content h2 {
  font-family: serif;
  font-size: 50px;
}
.main-content .text-content .btn-menu {
  margin-top: 20px;
}
.main-content .text-content .btn-menu a {
  background-color: orange;
  padding: 7px;
  border-radius: 20px;
  width: 25%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.main-content .text-content .btn-menu a hover {
  text-decoration: underline;
}

.group-text {
  width: 100%;
}
.group-text p {
  margin-top: 20px;
}
.group-text h1 {
  font-size: 60px;
  color: orange;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.group-text .text {
  display: flex;
  gap: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.group-text .text h1 {
  font-size: 60px;
  color: black;
}

.content-menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 230px;
}
.content-menu .card-menu {
  background-color: rgba(0, 0, 0, 0.863);
  width: 18%;
  border-radius: 20px;
}
.content-menu .card-menu .group-img:nth-child(3) {
  width: 200px;
}
.content-menu .card-menu .group-card {
  color: white;
  padding-left: 30px;
  padding-bottom: 30px;
  width: 70%;
}
.content-menu .card-menu .group-img {
  display: flex;
}
.content-menu .card-menu .group-img img {
  width: 230px;
  margin-top: -90px;
  margin-left: -70px;
}
.content-menu .card-menu .group-img button {
  width: 40%;
  height: 30px;
  border-radius: 20px 0 0 20px;
  margin-top: 20px;
  background-color: orange;
  color: white;
}
.content-menu .card-menu .group-icon {
  color: orange;
  padding-left: 30px;
  padding-bottom: 10px;
}

.content-menu .card-menu:nth-child(3) .group-img:nth-child(1) img {
  width: 200px;
  margin-left: -50px;
  margin-top: -80px;
}
.content-menu .card-menu:nth-child(3) .group-img:nth-child(1) button {
  margin-left: 15px;
}

.content-menu .card-menu:nth-child(3) .group-card h3 {
  padding: 10px;
}

.bg-ingredients {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 40px;
  background-image: url(/images/background/ingre.jpg);
  height: 500px;
}
.bg-ingredients .bg-ingre {
  padding-top: 150px;
  padding-bottom: 200px;
}
.bg-ingredients .bg-ingre .title {
  color: white;
  background-color: rgba(0, 0, 0, 0.392);
  padding: 70px;
}
.bg-ingredients .bg-ingre .title h1 {
  font-size: 60px;
  font-family: serif;
}

.eqiepment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.eqiepment .group-eqiepment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.eqiepment .group-eqiepment .picture {
  display: flex;
  flex-direction: column;
}
.eqiepment .group-eqiepment .picture img {
  width: 170px;
  height: 170px;
  border-radius: 200px;
  border: 1px solid #33A6EA;
}
.eqiepment .group-eqiepment .text {
  width: 72%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}/*# sourceMappingURL=home.css.map */