* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    border:0;
}
body{
    height: 100vh;
    background-color: #D9D9D9;
}
@import './COMPONENTS/group-variable';
@import './COMPONENTS/group-mixin';
@import './COMPONENTS/nav';
@import './COMPONENTS/header';