* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F5EEEE;
}

@import './COMPONENTS/group-variable';
@import './COMPONENTS/group-mixin';
@import './COMPONENTS/nav';
@import './COMPONENTS/header';
@import './COMPONENTS/footer';