* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #F5EEEE;
}
.active {
    background: orange;
}

@import './COMPONENTS/group-variable';
@import './COMPONENTS/group-mixin';
@import './COMPONENTS/nav';
@import './COMPONENTS/footer';