* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    border: 0;
    box-sizing: border-box;
}
.active{
    border-bottom: 3px solid orange;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #F5EEEE;
}
@import './components/group-variable';
@import './components/nav';
@import './components/footer';
