@import 'main';
@import './components/card';

header {
    @include bg-img;
    background-image: url(../images/background/pnc.jpg);
    height: 100%;
    padding: 50px;

    @include responsive("Mobile") {
        height: 80%;
    }


    .bg-img {
        background-color: rgba(0, 0, 0, 0.392);
        height: 44%;
        width: 55%;
        padding: 20px;
        margin-top: 170px;
        color: $sub-color1;
        box-shadow: $box-shadow-color;

        @include responsive("laptop") {
            width: 50%;
            height: 45%;

        }

        @include responsive("Tablet") {
            width: 70%;
            height: 40%;
            margin-top: 160px;
            margin-left: -20px;
            padding: 10px;

        }

        @include responsive("Mobile") {
            width: 70%;
            height: 40%;
            margin-left: -30px;
            margin-top: 130px;
        }


        .bg-text {
            h1 {
                color: $primary-color;
                font-size: 50px;
                @include responsive("laptop") {
                    font-size: 40px;
                    margin-top: -8px;
                    
                }

                @include responsive("Tablet") {
                    font-size: 35px;

                }

                // mobile
                @include responsive("Mobile") {
                    font-size: 25px;
                    padding: -15px;
                }

            }

            p {
                margin-top: 10px;
                line-height: 1.5;
                color: $sub-color1;
                font-size: 20px;
                @include responsive("laptop") {
                    font-size: 16px;
                    margin-top: 8px;
                }

                @include responsive("Tablet") {
                    font-size: 15px;
                }

                // mobile
                @include responsive("Mobile") {
                    font-size: 12px;
                    padding: -15px;
                    margin-top: 5px;

                }



            }
        }
    }

}

#title-menu{
    margin-top: $font-size1;
    text-align: center;

    @include responsive("Tablet") {
        margin-top: 20px;
    }

    // mobile
    @include responsive("Mobile") {
        margin-top: 10px;
    }

    h1:nth-child(1) {
        font-family: serif;
        font-size: 40px;

        @include responsive("Tablet") {
            font-size: 25px;
        }

        // mobile
        @include responsive("Mobile") {
            font-size: 20px;
        }
    }


    h1:nth-child(2) {
        color: $primary-color;
        font-size: 45px;
        font-family: $font-family1;

        @include responsive("Tablet") {
            font-size: 35px;
        }

        // mobile
        @include responsive("Mobile") {
            font-size: 25px;
        }

    }
}

.sub-tittle {
    @include flex;
    width: 15%;
    display: flex;
    align-items: center;
    padding: $font-size14;
    margin-top: $font-size8;
    border-radius: 0 20px 20px 0;
    background-color: $sub-color3;
    color: $sub-color1;

    @include responsive("Tablet") {
        width: 18%;
        padding: 5px;
    }

    h3 {
        @include responsive("Tablet") {
            font-size: 15px;
        }

        // mobile
        @include responsive("Mobile") {
            font-size: 14px;
        }
    }


}


.title-schedule {
    @include flex;
    gap: 10px;
    // padding-top: 30px;
    margin-top: 70px;

    @include responsive("laptop") {
        margin-top: 80px;
    }


    @include responsive("Tablet") {
        margin-top: 50px;
    }

    // mobile
    @include responsive("Mobile") {
        margin-top: 50px;
        gap: 10px;

    }

    h1:nth-child(1) {
        font-size: 40px;

        @include responsive("Tablet") {
            font-size: 30px;

        }

        // mobile
        @include responsive("Mobile") {
            font-size: 25px;

        }
    }

    h1:nth-child(2) {
        font-size: 40px;
        color: $primary-color;

        @include responsive("Tablet") {
            font-size: 30px;
        }

        // mobile
        @include responsive("Mobile") {
            font-size: 25px;

        }
    }
}


.table-schedul {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @include responsive("laptop") {
        padding: 25px;
    }

    // mobile
    @include responsive("Mobile") {
        // padding: 15px;
        margin-top: -10px;

    }


    table {
        width: 60%;
        border-collapse: collapse;

        // mobile
        @include responsive("Mobile") {
            width: 70%;

        }

    }


}

td {
    border: 1px solid;
    padding: 10px;
    box-shadow: $box-shadow-color;
    font-size: 20px;

    @include responsive("Tablet") {
        font-size: 15px;

    }

    // mobile
    @include responsive("Mobile") {
        font-size: 12px;
    }
}

tbody tr:nth-child(1) td:nth-child(1) {
    background-color: $sub-color3;
    color: $sub-color1;
    text-align: center;
    line-height: 2;
}

tbody tr:nth-child(1) td:nth-child(2),
tbody tr:nth-child(2) td:nth-child(1),
tbody tr:nth-child(3) td:nth-child(1) {
    background-color: $sub-color1;
}


.tittle-cheif {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 70px;
    @include responsive("laptop") {
        margin-top: 70px;
    }



    @include responsive("Tablet") {
        margin-top: 35px;
    }

    // mobile
    @include responsive("Mobile") {
        margin-top: 40px;
        gap: 10px;

    }

    h1:nth-child(1) {
        font-size: 40px;

        @include responsive("Tablet") {
            font-size: 30px;

        }

        // mobile
        @include responsive("Mobile") {
            font-size: 25px;

        }
    }



    h1:nth-child(2) {
        font-size: 40px;
        color: $primary-color;

        @include responsive("Tablet") {
            font-size: 30px;
        }

        // mobile
        @include responsive("Mobile") {
            font-size: 25px;

        }
    }
}



.group-cheif {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;

    // mobile
    @include responsive("Mobile") {
        flex-wrap: wrap;
        gap: 30px;

    }

    .cheif {
        width: 18%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        @include responsive("Tablet") {
            width: 20%
        }

        // mobile
        @include responsive("Mobile") {
            width: 40%;

        }

        img {
            width: 170px;
            height: 170px;
            border: 5px solid $secondary-color;
            border-radius: 500px;
            box-shadow: $box-shadow-color;

            @include responsive("Tablet") {
                width: 150px;
                height: 150px;
            }

            // mobile
            @include responsive("Mobile") {
                width: 140px;
                height: 140px;

            }
        }

        .name-cheif {
            display: flex;
            flex-direction: column;
            gap: 10px;


            h3 {
                padding-top: 15px;
                text-align: center;
                color: $secondary-color;
                font-family: $font-family1;
                font-size: 25px;

                @include responsive("Tablet") {
                    font-size: 20px;

                }

                // mobile
                @include responsive("Mobile") {
                    font-size: 18px;

                }
            }

            p {
                text-align: center;
                font-family: sans-serif;
                font-size: 18px;
                @include responsive("Tablet") {
                    font-size: 14px;

                }

                // mobile
                @include responsive("Mobile") {
                    font-size: 12px;

                }

            }


        }


    }
}

.tittle-service {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 70px;
    font-family: sans-serif;

    h1:nth-child(1) {

        // font-size: 40px;
        @include responsive("Tablet") {
            font-size: 30px;

        }

        // mobile
        @include responsive("Mobile") {
            font-size: 25px;

        }
    }


    h1:nth-child(2) {
        // font-size: 40px;
        color: orange;

        @include responsive("Tablet") {
            font-size: 30px;

        }

        // mobile
        @include responsive("Mobile") {
            font-size: 25px;

        }

    }

}

.group-service {
    width: 100%;
    padding: $font-size1;
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
    @include responsive("laptop") {
        margin-top: -20px;
    }

    @include responsive("Tablet") {
        margin-top: -20px;
    }


    // mobile
    @include responsive("Mobile") {
        margin-top: -20px;

    }

    .service {
        width: 25%;
        height: auto;
        border: 2px solid $secondary-color;
        background-color: $sub-color1;

        @include responsive("Tablet") {
            width: 30%;

        }

        // mobile
        @include responsive("Mobile") {
            width: 29%
            


        }


        .service-img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            img {
                width: 100px;
                height: 100px;
                margin-top: $font-size8;

                @include responsive("Tablet") {
                    width: 70px;
                    height: 70px;
                    margin-top: 20px;

                }

                // mobile
                @include responsive("Mobile") {
                    width: 40px;
                    height: 40px;
                    margin-top: 10px;

                }

            }
        }

        .text-service {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            // mobile
            @include responsive("Mobile") {
                gap: 5px;

            }


            h3 {
                text-align: center;

                @include responsive("Tablet") {
                    font-size: 16px;

                }

                // mobile
                @include responsive("Mobile") {
                    font-size: 10px;

                }
            }

            p {
                text-align: center;
                font-size: 18px;
                @include responsive("laptop") {
                    font-size: 16px;

                }
                @include responsive("Tablet") {
                    font-size: 14px;

                }

                // mobile
                @include responsive("Mobile") {
                    font-size: 10px;

                }
            }
        }

        .service-icon {
            display: flex;
            justify-content: space-between;
            padding: 10px;

            .number {
                color: $secondary-color;
                font-size: 20px;
                font-weight: bold;

                @include responsive("Tablet") {
                    font-size: 13px;

                }

                // mobile
                @include responsive("Mobile") {
                    font-size: 10px;

                }

            }

            .icon i {
                @include responsive("Tablet") {
                    font-size: 12px;

                }

                // mobile
                @include responsive("Mobile") {
                    font-size: 10px;

                }
            }
        }

    }

}