@import 'main';

.main-header {
    @include bg-img;
    display: flex;
    align-items: end;
    margin-top: 5px;
    background-image: url(/images/background/canteen.jpg);
    width: 100%;
    height: 500px;
}

.bgc-text {
    @include flex1;
    background-color: rgba(0, 0, 0, 0.384);
    width: 40%;
    height: 25%;
    margin-left: 50px;
}

.bg-header {
    @include flex1;
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.572);
    margin: 80px;
    padding: 10px;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.411);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bg-header h2 {
    font-family: serif;
    font-size: 35px;
}

.text-h1 {
    display: flex;
    gap: 15px;
    font-size: 30px;

}

.text-h1 h1 {
    color: skyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.text-h1 h3 {
    margin-top: 10px;
    font-size: 40px;
    font-family: serif;
}

main {
    @include centered;
    background-color: #F5EEEE;
    margin-top: -40px;
    width: 90%;
    margin-left: 4%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;

}

// contact

.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-bottom: 138px;
}

.contact-card1 {
    width: 100%;
    display: flex;
    background: white;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;


}
// .card {
//     margin-top: 10px;
// }
.card .icon {
    color: rgb(146, 96, 3);
    font-size: 25px;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.384);
    border-radius: 30px;
    height: 40px;
    width: 40px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card2 {
    display: flex;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;


}

.card {
    display: flex;
    gap: 20px;
    padding: 30px;
    margin-top: 10px;
}

.the-text {
    color: blue;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background-color: skyblue;
    text-align: center;
    color: white;
    padding: 7px;
    width: 45%;
    font-weight: bold;
   
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 35px;
    margin-left: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;

}


.name {
    display: flex;
    gap: 50px;
    width: 50px;

}


.email-number {
    display: flex;
    gap: 50px;
}

.student {
    display: flex;
    gap: 50px;
}

.input h3 {
    text-align: center;
    font-size: 30px;
}


textarea {
    width: 450px;
    border-radius: 3px;
    padding: 7px;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.454);

}

input {
    width: 200px;
    border-radius: 3px;
    padding: 7px;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.454);
    
}

.map {
    margin-top: 50px;
}

.submit {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 7px;
    border-radius: 20px;
    width: 20%;
    font-weight: bold;

}