@import 'main';
@import './components/input';
// @import './group-responsive/responsive-contact.scss';
.main-header {
    @include bg-img;
    display: flex;
    align-items: end;
    margin-top: 5px;
    background-image: url(../images/background/canteen.jpg);
    width: 100%;
    height: $font-size17;
}

.bg-header {
    @include flex1;
    margin: 80px;
    padding: 20px;
    margin-bottom: 150px;
    background-color: rgba(0, 0, 0, 0.466);
    color: $sub-color1;
    border: 1px solid $sub-color8;
    box-shadow: $box-shadow-color;


    h2 {
        font-family: $font-family3;
        font-size: 35px;
        @include responsive('Mobile'){
            font-size: 30px ;
        }
    }
}

.text-h1 {
    display: flex;
    gap: $font-size5;
    font-size: $font-size8;
    
    
    h1 {
        color: $secondary-color;
        font-family: $font-family1;
        @include responsive('Mobile'){
            font-size: 40px ;
        }
    
    }

    h3 {
        margin-top: 10px;
        font-size: 40px;
        font-family: $font-family3;
        @include responsive('Mobile'){
            font-size: 30px ;
        }
        
    }

}

.main-contact{
    @include centered;
    margin-top: -50px;
    width: 90%;
    // margin: auto;
    margin-left: 5%;
    padding: 20px;
    box-shadow: $box-shadow-color;
    background-color: $sub-color6;
    @include responsive('Mobile'){
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    @include responsive('Tablet'){
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

}

// contact

.contact {
    display: flex;
    flex-direction: column;
    gap: $font-size6;
    padding: $font-size14;
    margin-top: -127px;
    @include responsive('Tablet'){
        margin-top: -290px;
    }
    @include responsive('Mobile'){
        margin-top: 0;
    }
    
    .contact-card1 {
        @include flex1;
        width: 100%;
        background: $sub-color1;
        box-shadow: $box-shadow-color;

    }

    .contact-card2 {
        display: flex;
        background: $sub-color1;
        box-shadow: $box-shadow-color;


    }
}


.card .icon {
    @include flex2;
    height: $font-size1;
    width: $font-size1;
    color: rgb(146, 96, 3);
    font-size: $font-size3;
    gap: $font-size14;
    background-color: rgba(128, 128, 128, 0.384);
    border-radius: $font-size8;
    padding: $font-size21;

}


.card {
    display: flex;
    gap: $font-size6;
    padding: $font-size8;
    gap: 20px;
    padding: 30px;
    margin-top: 10px;
}

.the-text {
    color: $sub-color5;
    display: flex;
    flex-direction: column;
    gap: $font-size6;
}

.button {
    width: 45%;
    background-color: $secondary-color;
    text-align: center;
    color: $sub-color1;
    padding: 7px;
    font-weight: bold;

}

.map {
    margin-top: 50px;

}
