@import 'main';

.main-header {
    @include bg-img;
    display: flex;
    align-items: end;
    margin-top: 5px;
    background-image: url(/images/background/canteen.jpg);
    width: 100%;
    height: $font-size17;
}

.bgc-text {
    @include flex1;
    background-color: $sub-color7;
    width: 40%;
    height: 25%;
    margin-left:$font-size4;
}

.bg-header {
    @include flex1;
    width: 30%;
    height: 30%;
    margin: 80px;
    padding: 10px;
    background-color: $sub-color9;
    color: $sub-color1;
    border: 1px solid $sub-color8;
    box-shadow: $box-shadow-color;

    h2 {
        font-family: serif;
        font-size: 35px;
    }
}

.text-h1 {
    display: flex;
    gap: $font-size5;
    font-size: $font-size8;

    h1 {
        color: $sub-color4;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h3 {
        margin-top: 10px;
        font-size: 40px;
        font-family: serif;
    }

}

main {
    @include centered;
    margin-top: -40px;
    width: 90%;
    margin-left: 4%;
    padding: 20px;
    box-shadow: $box-shadow-color;
    background-color: $sub-color6;

}

// contact

.contact {
    display: flex;
    flex-direction: column;
    gap: $font-size6;
    padding: $font-size14;
    margin-bottom: $font-size23;
    .contact-card1 {
        @include flex1;
        width: 100%;
        background: $sub-color1;
        box-shadow: $box-shadow-color;

    }

    .contact-card2 {
        display: flex;
        background: $sub-color1;
        box-shadow: $box-shadow-color;


    }
}



 

    


// .card {
//     margin-top: 10px;
// }
.card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(146, 96, 3);
    font-size: $font-size3;
    gap: $font-size14;
    background-color: rgba(128, 128, 128, 0.384);
    border-radius: $font-size8;
    height: $font-size1;
    width: $font-size1;
    padding:$font-size21;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    display: flex;
    gap: $font-size6;
    padding: $font-size8;
    gap: 20px;
    padding: 30px;
    margin-top: 10px;
}

.the-text {
    color: $sub-color5;
    display: flex;
    flex-direction: column;
    gap: $font-size6;
}

.button {
    width: 45%;
    background-color: $sub-color4;
    text-align: center;
    color: $sub-color1;
    padding: 7px;
    
    font-weight: bold;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: $sub-color1;
    padding: 35px;
    margin-left: 10px;
    box-shadow: $box-shadow-color;

    .email-number,
    .student {
        display: flex;
        gap: 50px;
    }

}

.input h3 {
    text-align: center;
    font-size: $font-size8;
}

textarea {
    width: 450px;
    @include input-format;

}

input {
    width: $font-size13;
    border-radius: $font-size21;
    padding: $font-size20;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.454);
}

// .map {
//     margin-top: $font-size4;
//     width: 200px;
//     border-radius: 3px;
//     padding: 7px;
//     background: white;
//     border: 1px solid rgba(128, 128, 128, 0.454);
    
// }

.map {
    margin-top: 50px;
}

.submit {
    width: 20%;
    background-color: $sub-color2;
    color: $sub-color1;
    text-align: center;
    padding: 7px;
    border-radius: 20px;
    font-weight: bold;
}