@import 'main';
.main-header{
    display: flex;
    align-items: center;
    margin-top: $font-size11;
    background-image: url(/images/background/eat\ food.jpg);
    background-position: center;
    background-size: cover;
    height:$font-size12;
    background-repeat: no-repeat;
    padding: $font-size4;
}
.main-header .bg-main{
    background-color: rgba(0, 0, 0, 0.329);
    width: 50%;
    padding: $font-size6;
    margin-top: $font-size13;
    color: white;
    margin-left: $font-size8;
    border: 1px solid rgba(128, 128, 128, 0.411);
    box-shadow: rgba(50, 50, 93, 0.50) 0px 2px 5px -2px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.main-header .bg-main h2{
    font-family: serif;
    font-size: $font-size1;
}
.text-menu{
    display: flex;
    gap: $font-size6;
}
.text-menu h2{
    margin-top: $font-size5;
}
.text-menu h1{
    color: orange;
    font-size:$font-size2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bg-header p{
    line-height: 1.5;
    margin-top: $font-size5;
}
.main-content {
    height: 50%;
    margin-top:$font-size5;
    display: flex;
    padding: $font-size6;
    padding-left:$font-size10;
}

.group-text {
    width: 100%;
}

.group-text p {
    font-size: $font-size3;
    margin-top: $font-size6;
}

.group-text h1 {
    font-size: $font-size2;
    color: orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.group-text .text {
    display: flex;
    gap: $font-size14;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-content h2 {
    font-family: serif;
    font-size:$font-size4;
}

.text h1 {
    font-size: $font-size2;
    color: black;
}

.main-content img {
    padding-right: $font-size4;
    width: 120%;
    height: 110%;
    rotate: 10deg;
}

.main-content .text-content button {
    @include btn;
    margin-top: $font-size6;
    width: 20%;
}

.main-content .text-content button a {
    color: white;
    font-family: $font-family1;
    font-size: $font-size5;
}

.main-content .text-content button a:hover {
    text-decoration: underline;
}

.content-menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: $font-size13;
    width: 100%;
}

.card-menu {
    background-color: rgba(0, 0, 0, 0.863);
    width: 18%;
    border-radius:$font-size6;

}

.group-img {
    display: flex;
}

.group-img img {
    width:$font-size15;
    margin-top: -90px;
    margin-left: -70px;
}

.card-menu .group-img:nth-child(3) {
    width: $font-size13;
}

.group-img button {
    width: 40%;
    height: $font-size8;
    border-radius: 20px 0 0 20px;
    margin-top: $font-size6;
    background-color: orange;
    color: white;
}

.group-card {
    color: white;
    padding-left: $font-size8;
    padding-bottom: $font-size8;
    width: 70%;
}

.group-icon {
    color: orange;
    padding-left: $font-size8;
    padding-bottom:$font-size14;
}

.bg-ingredients {
    @include bg-img;
    margin-top: $font-size1;
    background-image: url(/images/background/ingre.jpg);
    height: $font-size17;
}

.bg-ingredients .bg-ingre {
    padding-top: $font-size16;
    padding-bottom: $font-size13;
}

.bg-ingredients .bg-ingre .title {
    color: white;
    background-color: rgba(0, 0, 0, 0.568);
    padding: $font-size18;
}

.bg-ingredients .title h1 {
    font-size: $font-size2;
    font-family: serif;
}

.group-eqiepment {
    @include centered;
    margin-top: $font-size8;
    gap:$font-size8;
}

.picture {
    display: flex;
    flex-direction: column;
}

.picture img {
    width: $font-size19;
    height: $font-size19;
    border-radius:$font-size13;
    border: 1px solid rgb(7, 167, 189);
}

.group-eqiepment .text {
    // margin-top: 50px;
    width: 72%;
    display: flex;
    flex-direction: column;
    gap: $font-size14;
}