@import 'main';

.main-header {
    @include bg-img;
    display: flex;
    align-items: center;
    margin-top: 5px;
    background-image: url(/images/background/eat\ food.jpg);
    height: 600px;
    padding: 50px;

    .bg-main {
        background-color: rgba(0, 0, 0, 0.329);
        width: 50%;
        padding: 20px;
        margin-top: 200px;
        color: $sub-color1;
        margin-left: 30px;
        border: 1px solid $sub-color8;
        box-shadow: $box-shadow-color;

        h2 {
            font-family: serif;
            font-size: 40px;
        }
    }
}

.text-menu {
    display: flex;
    gap: 20px;

    h2 {
        margin-top: 15px;
    }

    h1 {
        color: $sub-color2;
        font-size: 60px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


}

.bg-header {
    p {
        line-height: 1.5;
        margin-top: 15px;
    }
}

.main-content {
    height: 50%;
    margin-top: 15px;
    display: flex;
    padding: 20px;
    padding-left: 100px;

    img {
        padding-right: 50px;
        width: 120%;
        height: 110%;
        rotate: 10deg;
    }

    .text-content {
        h2 {
            font-family: serif;
            font-size: 50px;
        }

        button {
            @include btn;
            margin-top: 20px;
            width: 20%;

            a {
                color: $sub-color1;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 15px;

                hover {
                    text-decoration: underline;
                }
            }
        }
    }

}

.group-text {
    width: 100%;

    p {
        font-size: 25px;
        margin-top: 20px;
    }

    h1 {
        font-size: 60px;
        color: $sub-color2;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .text {
        display: flex;
        gap: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        h1 {
            font-size: 60px;
            color: $sub-color3;
        }

    }

}

.content-menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    width: 100%;
}

.card-menu {
    background-color: $sub-color9;
    width: 18%;
    border-radius: 20px;

    .group-img:nth-child(3) {
        width: 200px;
    }

}

.group-img {
    display: flex;

    img {
        width: 230px;
        margin-top: -90px;
        margin-left: -70px;
    }

    button {
        width: 40%;
        height: 30px;
        border-radius: 20px 0 0 20px;
        margin-top: 20px;
        background-color: $sub-color2;
        color: $sub-color1;
    }
}

.group-card {
    color: $sub-color1;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 70%;
}

.group-icon {
    color: $sub-color2;
    padding-left: 30px;
    padding-bottom: 10px;
}

.bg-ingredients {
    @include bg-img;
    margin-top: 40px;
    background-image: url(/images/background/ingre.jpg);
    height: 500px;
}

.bg-ingredients {
    .bg-ingre {
        padding-top: 150px;
        padding-bottom: 200px;

        .title {
            color: $sub-color1;
            background-color: $sub-color9;
            padding: 70px;

            h1 {
                font-size: 60px;
                font-family: serif;
            }
        }
    }
}

.group-eqiepment {
    @include centered;
    margin-top: 30px;
    gap: 30px;

    .text {
        width: 72%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.picture {
    display: flex;
    flex-direction: column;

    img {
        width: 170px;
        height: 170px;
        border-radius: 200px;
        border: 1px solid $sub-color4;
    }

}