@import 'main';

.main-header {
    @include bg-img;
    display: flex;
    align-items: center;
    margin-top: $font-size11;
    background-image: url(../images/background/eat_food.jpg);
    height: 600px;
    padding: 50px;

    @include responsive('Mobile') {
        height: 500px;
    }


    .bg-main {
        background-color: rgba(0, 0, 0, 0.329);
        width: 50%;
        padding: 20px;
        margin-top: 200px;
        color: $sub-color1;
        margin-left: 30px;
        border: 1px solid $sub-color8;
        box-shadow: $box-shadow-color;

        @include responsive('Mobile') {
            width: 100%;
            margin-left: 0;
            margin-top: 150px;
        }

        @include responsive('Tablet') {
            width: 70%;
            margin-left: 0;
            margin-top: 150px;
        }

        h2 {
            font-family: serif;
            font-size: 40px;

            @include responsive("Mobile") {
                font-size: 30px;
            }
        }

        .bg-header {
            p {
                line-height: 1.5;
                margin-top: 15px;
                font-size: 20px;

                @include responsive('Mobile') {
                    display: none;
                }
            }

            .text-menu {
                display: flex;
                gap: 20px;

                h2 {
                    margin-top: 15px;
                }

                h1 {
                    color: $primary-color;
                    font-size: 60px;
                    font-family: $font-family1;

                    @include responsive("Mobile") {
                        font-size: 50px;
                    }
                }


            }
        }
    }
}

.main-content {
    height: auto;
    margin-top: $font-size5;
    display: flex;
    padding: 20px;
    padding-left: 100px;

    @include responsive('Mobile') {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        padding-right: 50px;
        rotate: 10deg;

        @include responsive('laptop') {
            width: 400px;
            height: 300px;
            padding-right: 10px;
        }

        @include responsive('Tablet') {
            width: 300px;
            height: 200px;
            padding-right: 10px;
        }

    }

    .text-content {
        h2 {
            font-family: serif;
            font-size: 50px;

            @include responsive('laptop') {
                font-size: 40px;
            }

            @include responsive('Tablet') {
                font-size: 30px;
            }

            @include responsive('Mobile') {
                font-size: 35px;
            }

        }

        .btn-menu {
            margin-top: 20px;

            a {
                @include btn;
                width: 25%;
                box-shadow: $box-shadow-color;
                color: $sub-color1;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 20px;

                @include responsive("Mobile") {
                    font-size: 12px;
                }
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

}

.group-text {
    width: 100%;

    p {
        margin-top: 15px;
        font-size: 20px;

        @include responsive("Mobile") {
            font-size: 13px;
        }
    }

    h1 {
        font-size: 60px;
        color: $primary-color;
        font-family: $font-family1;

        @include responsive('laptop') {
            font-size: 50px;
        }

        @include responsive('Tablet') {
            font-size: 45px;
        }

        @include responsive('Mobile') {
            font-size: 45px;
        }


    }

    .text {
        display: flex;
        gap: 10px;
        font-family: $font-family1;

    }

}

.content-menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 60px;

    @include responsive('Tablet') {
        flex-wrap: wrap;
        gap: 50px;
    }

    @include responsive('Mobile') {
        flex-wrap: wrap;
        gap: 30px;
    }



    .card-menu {
        background-color: $sub-color9;
        width: 18%;
        border-radius: $font-size6;

        @include responsive('laptop') {
            width: 16%;
            margin-top: 40px;

        }

        @include responsive('Tablet') {
            width: 35%;
            margin-top: 40px;

        }

        @include responsive('Mobile') {
            width: 34%;
            margin-top: 20px;

        }



    }

    .group-card {
        color: $sub-color1;
        padding-left: 30px;
        padding-bottom: 30px;
        width: 70%;

        @include responsive('laptop') {
            width: 100%;
            font-size: 13px;

        }

        @include responsive('Mobile') {
            width: 100%;
            font-size: 12px;

        }

    }

    .group-img {
        display: flex;

        img {
            width: 230px;
            margin-top: -90px;
            margin-left: -70px;

            @include responsive('laptop') {
                width: 180px;
                margin-top: -70px;
            }

            @include responsive('Tablet') {
                margin-left: -60px;
            }

            @include responsive('Mobile') {
                margin-left: -50px;
                margin-top: -50px;
                width: 180px;
            }


        }

        button {
            width: 80%;
            height: 30px;
            border-radius: 20px 0 0 20px;
            margin-top: 20px;
            background-color: $primary-color;
            color: $sub-color1;

            @include responsive('laptop') {
                display: none;
            }

            @include responsive('Tablet') {
                // width: 100%;
            }

            @include responsive('Mobile') {
                display: none;
            }
        }
    }

    .group-icon {
        color: $primary-color;
        padding-left: 30px;
        padding-bottom: 10px;
    }

}



.content-menu .card-menu:nth-child(3) .group-img:nth-child(1) {
    img {
        width: 200px;
        margin-left: -50px;
        margin-top: -80px;

        @include responsive('laptop') {
            width: 150px;
            margin-top: -60px;
        }

        @include responsive('Tablet') {
            margin-top: -67px;
            margin-left: -48px;
        }

        @include responsive('Mobile') {
            margin-left: -35px;
            margin-top: -40px;
            width: 155px;
        }



    }

    button {
        margin-left: 15px;
    }
}

.content-menu .card-menu:nth-child(3) .group-card h3 {
    padding: 10px;

}

.bg-ingredients {
    @include bg-img;
    margin-top: $font-size1;
    background-image: url(/images/background/ingre.jpg);
    height: $font-size17;

    @include responsive('Mobile') {
        height: 300px;
    }

    .bg-ingre {
        padding-top: 170px;
        padding-bottom: 200px;

        @include responsive('Mobile') {
            padding-top: 80px;
        }

        .title {
            color: $sub-color1;
            background-color: rgba(0, 0, 0, 0.392);
            padding: 70px;

            @include responsive("Mobile") {
                padding: 40px;
            }


            h1 {
                font-size: 60px;
                font-family: serif;

                @include responsive('Mobile') {
                    font-size: 35px;
                    width: 100%;
                }
            }
        }
    }
}

.eqiepment {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    .group-eqiepment {
        @include centered;
        gap: 30px;


        .picture {
            display: flex;
            flex-direction: column;

            img {
                width: 170px;
                height: 170px;
                border-radius: 200px;
                border: 1px solid $secondary-color;

                @include responsive('Mobile') {
                    width: 130px;
                    height: 130px;
                }
            }

        }

        .text {
            width: 72%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
                font-size: 20px;
                @include responsive('Mobile') {
                    font-size: 12px;
                }
            }
            h3{
                font-size: 25px;
            }
        }
    }
}