@import 'main';

.form-container {
    width: 70%;
    margin: 0 auto;
    background: #fff;
    padding: $font-size14;
    margin-top: $font-size4;
    margin-bottom: $font-size6;
    border-radius: $font-size20;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.link ul li a {
    display: flex;
    justify-content: center;
    color: white;
    font-size:$font-size9;

}

.link ul li a:hover {
    color: blue;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebe1e1;
    padding: $font-size6;
}
.form-header .link{
    line-height: 1.5;
}
.form-header h1 {
    font-family: serif;
}
.form-header ul {
    @include centered;
    width: 10%;
    height:$font-size8;
    background-color: orange;
    padding:$font-size20;
    border-radius: $font-size6;
}
.form-header ul a{
    align-items: center;
    color: white;
    font-size: $font-size9;
    font-weight: bold;
}
.form-body {
    padding: $font-size6;
}

.form-group {
    margin-top:$font-size6;
    animation: my_scroll_fade linear both;

    /* make scroll view */
    animation-timeline: view();

    /* range entry */
    animation-range: entry 50% cover 50%;
}

.group {
    padding: $font-size29;
}

input[type='radio'] {
    /* change size of radio */
    transform: scale(2);
    margin-right: $font-size14;

    /* color select inside radio */
    accent-color: blue;
    cursor: pointer;

    /* change text color when click on radio */
    pointer-events: fill;
}

/* change text color when click on radio */
input[type='radio']:checked~label {
    color: blue($color: #000000);
}

input[type='date'] {
    border: 1px solid #ebe1e1;
    padding: $font-size14;
    width: 50%
}

h3 {
    margin-bottom:$font-size14;
}

/* Scroll animation */

@keyframes my_scroll_fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.form-body .btn-submit button{
    @include btn;
    margin-top: $font-size6;
    width: 8%;   
}
.form-body .btn-submit button a{
    color: white;
    font-size: $font-size9;
}