@import './group-variable';
@import '../mixins/group-mixins';
@import '../mixins/group-responsive';

.group-card {
    @include flex;
    width: 100%;
    gap: 15px;

    // mobile
    @include responsive("Mobile") {
        flex-wrap: wrap;

    }

    .card {
        width: 22%;
        height: 400px;
        box-shadow: $box-shadow-color;
        background-color: $sub-color1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include responsive("laptop") {
            width: 25%;
            height: 380px;

        }

        @include responsive("Tablet") {
            width: 25%;
            height: 300px;
        }

        // mobile
        @include responsive("Mobile") {
            width: 40%;
            height: 280px;

        }

        img {
            width: 100%;
            height: 200px;
            @include responsive("laptop") {
                height: 140px;
            }
            @include responsive("Tablet") {
                height: 130px;
            }

            // mobile
            @include responsive("Mobile") {
                height: 130px;

            }

        }

        p {
            padding: 20px;
            font-size: 20px;
            @include responsive("laptop") {
                font-size: 18px;
            }
            @include responsive("Tablet") {
                font-size: 15px;
                padding: 10px;
            }

            // mobile
            @include responsive("Mobile") {
                font-size: 14px;

            }
        }

        .icon {
            margin-left: 20px;
            margin-bottom: 10px;

            @include responsive("Tablet") {
                margin-left: 10px;
                margin-bottom: 5px;
            }

            i {
                color: $primary-color;
                font-size: 20px;
                @include responsive("laptop") {
                    margin-bottom: 20px;
                    font-size: 16px;
                }
                @include responsive("Tablet") {
                    font-size: 10px;
                    margin-bottom: 20px;
                }
            }

        }

    }
}