footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(172, 166, 166);
    padding: 50px 30px 30px 30px;

}

footer .text-foot {
    text-align: center;
    line-height: 2;
}

footer .social-media {
    display: flex;
    gap: 20px;
    justify-content: center;
}

footer .social-media img {
    width: 40px;
    background-color: rgb(235, 228, 228);
    border-radius: 5px;
}

.foot {
    display: flex;
    justify-content: space-between;
}

.foot .right {
    display: flex;
    gap: 50px;
}