// footer
@import './group-variable';
@import '../mixins/group-mixins';

footer {
    
    width: 100%;
    background-color: $sub-color3;
    color: $sub-color1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
    
}

footer .social-media img {
    width: 40px;
    border-radius: 5px;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    @include responsive("Tablet"){
        gap: 30px;
    }
    @include responsive("laptop"){
        gap: 30px;
    }
    .name-pnc{
        @include responsive("Mobile"){
            display: none;
        }
        p{
            font-size: $font-size6;
        }
    }

}

.footer-logo {
    display: flex;
    @include responsive("Mobile"){
        display: none;
    }

}

.footer-logo img {
    width: 60px;
    height: 40px;

}

.footer-logo h2 {
    margin-top: 5px;
    font-family: $font-family1;
    font-size: 30px;
}

.footer-chef,
.footer-service,
.footer-schedule,
.footer-pages {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
        font-size: $font-size3;
        text-decoration: underline;
        @include responsive("laptop"){
            font-size: $font-size5;
        }
    }
}

.footer-top ul li {
    font-size: 18px;
    line-height: 1.5;
    list-style: disc;
    @include responsive("laptop"){
        font-size: 12px;
        
    }
}

.footer-bottom {
    @include flex2;
    gap: 15px;
    padding: 40px;
    border-top: 1px solid #f3f1f1;
}

.footer-icon {
    display: flex;
    gap: 10px;
}

.footer-icon i {
    font-size: 30px;
    border-radius: 23px;
    color: white;
}

.footer-p p {
    font-size: 12px;
}
.address{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 20px;
    i{
        font-size: 35px;
    }
    @include responsive("laptop"){
        font-size: 12px;
        
    }
    br{
        @include responsive('laptop'){
            display: none;
        }
    }
}