footer {
    margin-top:$font-size8;
    gap:$font-size6;
    background-color: rgb(172, 166, 166);
    padding: 50px 30px 30px 30px;

}

footer .text-foot {
    text-align: center;
    line-height: 2;
}

footer .social-media {
    display: flex;
    gap: $font-size6;
    justify-content: center;
}

footer .social-media img {
    width: $font-size1;
    // background-color: rgb(235, 228, 228);
    border-radius: $font-size11;
}

.foot {
    display: flex;
    justify-content: space-between;
}

.foot .right {
    display: flex;
    gap:$font-size4;
}
