// footer
footer {
    height: 60%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;

}

footer .social-media img {
    width: 40px;
    border-radius: 5px;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-top {
    display: flex;
    justify-content: space-between;

}

.footer-logo {
    display: flex;
}

.footer-logo img {
    width: 60px;
    height: 40px;

}

.footer-logo h2 {
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-chef,
.footer-service,
.footer-schedule,
.footer-pages {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
        text-decoration: underline;
    }
}

.footer-top ul li{
    font-size: 14px;
    line-height: 1.5;
    list-style: disc;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 40px;
    border-top: 1px solid #f3f1f1;
}

.footer-icon {
    display: flex;
    gap: 10px;
}

.footer-icon i {
    font-size: 30px;
    border: 1px solid black;
    border-radius: 23px;
}

.footer-p p {
    font-size: 12px;
}