// Home 
$sub-colore1: white;
$sub-colore2: rgba(0, 0, 0, 0.329);
$sub-colore3: rgba(128, 128, 128, 0.411);
$sub-colore4: rgba(50, 50, 93, 0.50);
$sub-colore5: rgba(0, 0, 0, 0.3);
$sub-colore6: orange;
$sub-colore7: black;
$sub-colore8: rgba(0, 0, 0, 0.863);;
$sub-colore9: rgb(7, 167, 189);


// About
$sub-colore10: rgba(0, 0, 0, 0.486);
$sub-colore11: #23BBEA;
$sub-colore12:  #1D74A0;
$sub-colore13: #33A6EA;

// Contact
$sub-colore14: rgba(0, 0, 0, 0.384);;
$sub-colore15: rgba(0, 0, 0, 0.572);
$sub-colore16: #22c2a7;
$sub-colore17: #F5EEEE;
$sub-colore18: blue;
$sub-colore19: rgb(146, 96, 3);
$sub-colore21: rgba(211, 208, 208, 0.778);
$sub-colore22: rgb(18, 176, 215);

// footer
$sub-colore23: rgb(172, 166, 166);

// survey
$sub-colore24:#fff;
$sub-colore25:#ebe1e1;
$sub-colore26:skyblue;
$sub-colore27:rgba(128, 128, 128, 0.623);

// font
$the-font1: