// Colors
$sub-color1: white;
$sub-color2: orange;
$sub-color3: black;
$sub-color4:#33A6EA;
$sub-color5: blue;
$sub-color6: #F5EEEE;
$sub-color7: rgba(0, 0, 0, 0.329);
$sub-color8: rgba(128, 128, 128, 0.411);
$sub-color9: rgba(0, 0, 0, 0.863);
$box-shadow-color:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;