
// font-family
$font-family1:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-family3:serif;
// font-size
$font-size1:40px;
$font-size2:60px;
$font-size3:25px;
$font-size4:50px;
$font-size5:15px;
// about
$font-size6:20px;
// contact 
$font-size7:35px;
$font-size8:30px;
// survery
$font-size9:12px;
// thank
$font-size10:100px;
$font-size11:5px;
$font-size12:600px;
$font-size13:200px;
$font-size14:10px;
$font-size15:230px;
$font-size16:150px;
$font-size17:500px;
$font-size18:70px;
$font-size19:170px;
$font-size20:7px;
$font-size21:3px;
$font-size22:450px;;
$font-size23:138px;
$font-size24:80px;
$font-size25:350px;
$font-size26:300px;
$font-size27:260px;
$font-size28:90px;
$font-size29:8px;
$font-size30:55px;


// Colors
$primary-color: orange;
$secondary-color:#33A6EA;
$sub-color1: white;
$sub-color3: black;
$sub-color5: blue;
$sub-color6: #F5EEEE;
$sub-color8: rgba(128, 128, 128, 0.411);
$sub-color9: rgba(0, 0, 0, 0.863);
$box-shadow-color:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
