
.main-header{
   
    height: 80%;
    background-image:url(/image//background/canteen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-header{
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.572);
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-h1{
    display: flex;
    gap: 15px;

}
.bg-img{
    display: flex;
    align-items: end;
    margin-top: 5px;
    background-image: url(/image/background/pnc.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
}
.bg-text{
    background-color: rgba(0, 0, 0, 0.384);
    width: 40%;
    height: 25%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
    padding: 50px;
    margin-bottom: 70px;
}
.bg-text h1{
    color: orange;
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bg-text p{
    font-size: 25px;
}


