@import './group-variable';
@import '../mixins/group-mixins';

form {
    @include flex2;
    gap: 10px;
    background: $sub-color1;
    padding: 35px;
    margin-left: 10px;
    box-shadow: $box-shadow-color;
    
    @include responsive('Tablet') {
            width: 100%;
            margin-top: -60px;
        }
    @include responsive('Mobile') {
        font-size: 15px;
        margin-left: 0;
    }
    
    .email-number,
    .student {
        display: flex;
        gap: 40px;
        @include responsive('Tablet'){
            gap: 10px;
            flex-direction: column;
        }
     
        @include responsive('Mobile'){
            gap: 10px;
            flex-direction: row;
        }
     
    }

    .submit {

        a {
            @include btn;
            padding-left: 20px;
            padding-right: 20px;
            color: $sub-color1;
            font-weight: bold;
            @include responsive('Tablet'){
                margin-left: 0;
         
            }

        }
    }

}

.input {
    h3 {
        text-align: center;
        font-size: $font-size8;
        @include responsive('Tablet'){
                    font-size: 20px;
            
                }
        @include responsive('Mobile') {
            font-size: 25px;
        }
        

    }
    @include responsive('Tablet') {
            p {
                display: none;
            }
        }
    @include responsive('Mobile') {
        p {
            display: none;
        }
    }
    

}

textarea {
    width: auto;
    @include input-format;
    @include responsive('Tablet'){
        width: 100%;

    }

}

input {
    // width: auto;
    border-radius: 3px;
    padding:7px;
    background: $sub-color1;
    border: 1px solid rgba(128, 128, 128, 0.454);
    @include responsive('Tablet'){
        width: 250%;
        margin-left: -80px;
 
    }
    @include responsive('Mobile'){
        width: 100%;
        margin-left: 0;
 
    }
}
label{
    @include responsive('Tablet'){
        margin-left: -80px;
 
    }
    @include responsive('Mobile'){
        margin-left: 0;
 
    }
}
.feedback label{
    @include responsive('Tablet'){
        margin-left: 0;
 
    }
}