.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-right {
    display: flex;

}

.nav-right h2 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-right img {
    width: 80px;
    height: 55px;
}

.nav-center ul {
    display: flex;
    gap: 50px;
}

.nav-center ul li a {
    color: black;
    font-weight: bold;
}

.nav-center ul li a:hover {
    border-bottom: 3px solid orange;
}

.nav-left button {
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    background-color: orange;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

.nav-left button a {
    color: white;
    font-weight: bold;
}