.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding:$font-size14;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-right {
    display: flex;

}

.nav-right h2 {
    font-size: $font-size1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-right img {
    width:$font-size24;
    height:$font-size30;
}

.nav-center ul {
    display: flex;
    gap: $font-size4;
}

.nav-center ul li a {
    color: black;
    font-weight: bold;
}

.nav-center ul li a:hover {
    border-bottom: 3px solid orange;
}

.nav-left button {
    padding:$font-size14;
    width: $font-size10;
    border-radius: $font-size6;
    background-color: orange;

}

.nav-left button a {
    color: white;
    font-weight: bold;
}