@import './group-variable';
@import '../mixins/group-mixins';

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: $sub-color1;
    box-shadow: $box-shadow-color;
    position: fixed;
    top: 0;
    z-index: 1;

    .nav-right {
        display: flex;

        h2 {
            font-size: 40px;
            font-family: $font-family1;
            color: black;
        }

        img {
            width: 80px;
            height: 55px;
        }

    }

    .nav-center {
        ul {
            display: flex;
            gap: 50px;

            li a {
                color: $sub-color3;
                font-weight: bold;
                hover {
                    border-bottom: 3px solid $primary-color;
                }

            }
        }
    }

    .nav-left {
        display: flex;

        a {
            @include btn;
            width: 100px;
            text-align: center;
            color: $sub-color1;
            font-weight: bold;
        }
    }
}