<<<<<<< HEAD

@mixin btn{
    background-color: orange;
    padding: $font-size20;
    border-radius: $font-size14;
}
@mixin co-fo{
    color: white;
    font-size: $font-size9;
=======
// Format
@mixin btn {
    background-color: $sub-color2;
    padding: 7px;
    border-radius: 10px;
}

@mixin co-fo {
    color: $sub-color1;
    font-size: 12px;
>>>>>>> f405ae915fa2b684b944ba34cc1f767852e547e2
}

@mixin bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// group flex
<<<<<<< HEAD
@mixin flex{
    display:flex;
    justify-content: center; 
    margin-top: $font-size8;
=======

@mixin flex {
    display: flex;
    justify-content: center;
    margin-top: 30px;
>>>>>>> f405ae915fa2b684b944ba34cc1f767852e547e2
}

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@mixin input-format {
    border-radius: 3px;
    padding: 7px;
    background: $sub-color1;
    border: 1px solid $sub-color8;
}