// Mobile

@media (min-width:320px) and (max-width:480px) {}



// Tablete

@media (min-width:768px) and (max-width:1024px) {
    footer {
        height: 35%;

        .footer-top {
            display: flex;
            gap: 30px;

            br {
                display: none;
            }

            h3 {
                font-size: 15px;
            }

        }

    }

}