// Mobile

@media (min-width:320px) and (max-width:480px) {}



// Tablete

@media (min-width:768px) and (max-width:1024px) {
    // .main-content{
    //     h2{
    //         font-size: 20px;
    //     }
    //     .group-text{
    //         h1{
    //             font-size: 30px;
    //         }
    //         .text{
    //             h1,
    //             h2{
    //                 font-size: 20px;
    //             }
    //         }
    //         p{
    //             font-size: 12px;
    //         }
    //     }
    //     .btn-menu{
    //         a {
    //             width: 20%;
    //             font-size: 12px;
    //         }
    //     }
    //     img{
    //         // width: 200px;
    //         // display: none;
    //     }
    // }

    // .card-menu {
    //     // width: 15%;
    //     .group-card{
    //         // width: 10%;
    //     }
    // }
    // .group-img{
    //     img{
    //         width: 200px;
    //     }
    // }


    //footer
    footer {
        .footer-top {
            display: flex;
            gap: 30px;

            br {
                display: none;
            }

            h3 {
                font-size: 15px;
            }

        }

    }


}